/* Fact or Fake? (Page 2) CSS Stuff */
nav ul
{
	background-color:#fffced;
}

#p2_title
{
	width:500px;
	position:absolute;
	left:100px;
	top:90px;
}

	#p2_title_text
	{
		position:absolute;
		width:500px;
		font-size:30px;
		top:-25px;
		left:20px;
		z-index:1;
	}
	
	#p2_title_background
	{
		position:absolute;
		width:500px;
	}

#p2_paragraph1
{
	position:absolute;
	top:50px;
	left:930px;
}
	#p2_paragraph1_background
	{
		width:320px;
		position:absolute;
	}

	#p2_paragraph1_text
	{
		position:absolute;
		width:220px;
		top:25px;
		left:45px;
		text-align:center;
		z-index:1;
	}
	
#p2_step1
{
	width:800px;
	position:absolute;
	left:50px;
	top:210px;
}

	#p2_step1_background
	{
		width:800px;
		position:absolute;
		top:0px;
		z-index:-1;
	}

	#p2_grammar
	{
		width:320px;
		position:absolute;
		top:50px;
		left:30px;
	}
	
	#p2_step1_heading
	{
		position:absolute;
		top:0px;
		left:80px;
	}
	
	#p2_step1_text
	{
		width:300px;
		position:absolute;
		top:30px;
		right:135px;
		text-align:justify;
	}

#p2_step2
{
	width:900px;
	position:absolute;
	top:570px;
	left:10px;
}

	#p2_step2_background
	{
		width:900px;
		position:absolute;
		top:0px;
		left:0px;
		z-index:-5;
	}

	#p2_editing
	{
		width:350px;
		position:absolute;
		top:80px;
		right:100px;
	}
	
	#p2_step2_heading
	{
		position:absolute;
		top:10px;
		right:180px;
	}
	
	#p2_step2_text
	{
		width:400px;
		position:absolute;
		top:5px;
		left:20px;
		text-align:justify;
	}

#p2_step3
{
	position:absolute;
	top:330px;
	left:850px;
}

	#p2_step3_background
	{
		width:490px;
		position:absolute;
		z-index:-3;
	}

	#p2_google
	{
		width:260px;
		position:absolute;
		top:40px;
		left:120px;
	}
	
	#p2_step3_heading
	{
		width:450px;
		position:absolute;
		top:-10px;
		left:150px;
	}
	
	#p2_step3_text
	{
		width:440px;
		position:absolute;
		top:180px;
		left:25px;
		text-align:justify;
	}
	
.owl2
{
	position:relative;
	bottom:-900px;
}
